.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

node_modules/
npm-debug.log*
yarn-*.log*
pnpm-debug.log*
package-lock.json*
.pnpm-store/

.next/
.out/
dist/
build/
.vercel/
.turbo/
.cache/
coverage/

.env
.env.*
!.env.example

*.log
*.tmp
*.swp
*.swo
*.orig
*.patch
*.zip
*.tar
*.tgz
